@import url(https://fonts.google.com/specimen/Kumbh+Sans);

$dark-cyan: hsl(185, 75%, 39%);
$dark-blue: hsl(229, 23%, 23%);
$dark-gray-blue: hsl(227, 10%, 46%);
$neutral-gray: hsl(0, 0%, 59%);

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background: url("assets/bg-pattern-top.svg") bottom 18.75em right 46.875em
      no-repeat,
    url("assets/bg-pattern-bottom.svg") top 25em left 46.875em no-repeat,
    $dark-cyan;
  background-attachment: fixed;
  overflow: hidden;
}
//Overall text styling
h1,
h2 {
  font-size: 17px;
  color: #1e1e1e;
}

p {
  color: $neutral-gray;
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
  letter-spacing: 1px;
}
//Includes main the whole card without attribution
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.profile-card {
  background-color: white;
  border-radius: 20px;
  min-width: 22em;
  box-shadow: 1px 1px 10px rgb(104, 104, 104);
}

.profile {
  background: url(assets/bg-pattern-card.svg) no-repeat;
  background-size: 360px 140px;
  border-radius: 20px 20px 0 0;
  padding: 90px 0 30px 0;
  box-shadow: 0 3px 2px -2px rgb(189, 189, 189);
}

.portrait {
  display: flex;
  margin: 0 auto;
  border: 4px solid #fff;
  border-radius: 50%;
  position: relative;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  margin-top: 20px;
  position: relative;
}

.age {
  color: $neutral-gray;
  font-weight: 400;
  margin-left: 5px;
}

.stats > ol > li {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.stats > ol {
  display: flex;
  justify-content: center;
}

.attribution {
  font-weight: 700;
  text-align: center;
  position: relative;
  bottom: 2.5em;
  font-size: 15px;
}

// Responsive design for smaller screens
@media only screen and (max-width: 1024px) {
  body {
    background: url("assets/bg-pattern-top.svg") bottom 9.375em right 23.4375em
        no-repeat,
      url("assets/bg-pattern-bottom.svg") top 12.5em left 23.4375em no-repeat,
      $dark-cyan;
  }
}

@media only screen and (max-width: 420px) {
  body {
    background: url("assets/bg-pattern-top.svg") bottom 4.6875em right
        11.71875em no-repeat,
      url("assets/bg-pattern-bottom.svg") top 6.25em left 11.71875em no-repeat,
      $dark-cyan;
  }

  .profile-card {
    min-width: 18em;
  }
}
